body {
    font-family: cerebi sans;
    background-color: #c9e2ff;
    background-image: url(clouds1.jpg);
    background-repeat: no-repeat;
  background-size: cover;
}
  
  .weather-app {
    background-color: #f6f6f6;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(138, 138, 140);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-input,
  .search-button {
    padding: 10px;
    margin: 5px;
    border-style: solid;
    border-color: rgb(138, 138, 140);
    border-radius: 15px;
    font-family: cerebi sans;
    font-size: 25px;
  }
  
  .search-button {
    background-color:  #4a90e2;
    color: #fff;
    cursor: pointer;
  }
  
  .current-weather {
    font-size: 35px;
    text-align: center;
  }
  
  .current-city,
  .current-temperature-value,
  .current-temperature-unit,
  .current-temperature-icon,
  .current-details {
    margin: 10px 0;
  }
  
  .current-city {
    color: rgb(6, 6, 6);
    font-size: 50px;
  }
  
  .current-details {
    font-size: 20px;
  }

  .description {
    font-size: 25px;

  }
  
  .current-date {
    font-size: 35px;
  }
  
  .current-temperature-value {
    color: rgb(6, 6, 6);
    font-size: 35px;
  }
  
  .current-temperature-icon img {
    width: 200px;
    height: 200px;
    display: inline-block;
  }
  
  .current-date {
    font-size: 25px;
  }
  
  .footer {
    font-family: cerebi sans;
  }

  footer {
    color: #455d7a;
    padding: 20px;
    font-size: 17px ; 
    text-align: center;
  }
  
  footer a {
    color: #4a90e2;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  